// HEADER
.header-main
	.gridD
		.logo
			a(href="#", title="")
				img(src="assets/img/logo.jpg", alt="", title="")
		.search-top
			form
				input(type="text", placeholder="Search our stock")
				button(type="submit") 
		.cart-top-sec
			.msg
				p Free shipping<br><span>on orders over $50</span>
			.icon-cart
			.product-itens
				h2 bag: <span>1</span>

.header-main-mobile
	.gridD
		.btn-mobile
		.logo
			a(href="#", title="")
				img(src="assets/img/logo.jpg", alt="", title="")
		.msg
			p Free shipping <span>on orders over $50</span>
		.icon-cart
		.product-itens
			h2 bag: <span>1</span>

.nav-main
	.gridD
		nav
			ul
				li
					a(href="#") Potions
				li
					a(href="#") Ingredients
				li
					a(href="#") Books
				li
					a(href="#") Supplies
				li
					a(href="#") Charms
				li
					a(href="#") Clearance!
		.login
			a(href="#") Sign In
			p or
			a(href="#") Sign Up

.nav-main-mobile
	.search-top
		.close-mobile
		form
			input(type="text", placeholder="Search our stock")
			button(type="submit") 
	nav
		ul
			li
				a(href="#") Potions
			li
				a(href="#") Ingredients
			li
				a(href="#") Books
			li
				a(href="#") Supplies
			li
				a(href="#") Charms
			li
				a(href="#") Clearance!
	.login
		a(href="#") Sign In
		p or
		a(href="#") Sign Up

